<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>
<body>
    <h1>Url Shortener</h1>
    <form action="/" method="post">
        <label for="voornaam">URL:</label>
        <input type="text" id="URL" name="URL" required>
        <br>
        <input type="submit" value="Verzenden">
    </form>

    <p>To use your short url find the prefix in the list below and write it after the url of this site seperated by a '/'</p>
    <table border=1 frame=hsides rules=columns style="border-collapse: collapse;">
        <thead>
            <th style="padding: 10px;">Full URLS</th>
            <th style="padding: 10px;">Url prefix</th>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td style="background-color:cornsilk; text-align: center;padding: 10px;">{{item[0]}}</td>
                <td style="background-color: aqua; text-align: center;padding: 10px;">{{item[1]}}</td>       
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>